<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>There are currently no configuration options available for the example module</title>
        <title lang="de-DE">Für das Beispiel-Modul sind aktuell keine Konfigurationsmöglichkeiten vorhanden</title>
    </card>
</config>