{% block example_devices_detail_title_heading %}
    <h1 class="title">
        {{ $trans('b2bPlatform.pageTitles.exampleDevicesCreate') }}
    </h1>
{% endblock %}


{% block example_devices_form_actions_save %}
    <button type="submit" class="btn btn-primary">
        {{ $trans('b2bPlatform.actions.save') }}
    </button>
{% endblock %}